
.detail-product header{
    background-image: none;
    /* background-color: #191F23; */
    background-color: #fff;
    padding-bottom:1rem;
}
.detail-product .top-bar{
    background-color: #14191C;
    border-bottom: none;
    border-radius: 0;
}
.detail-product nav.bg-transparent{
    background-color: #191F23 !important;
}
.breadcrumb span{
    color: #fff;
}
ul.top-bar.breadcrumb {
    margin: 0 auto;
    padding: 0;
}
.tit-category{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 24px;
    border-bottom: 1px dotted #ccc;
    padding-bottom: 5px;
}
.content-detail-product .img-product{
    background-color: #f9f9f9; 
    padding: 10px;
}
.content-detail-product .container .row .col-3{
    padding: 0 5px !important;     
    margin: 5px 0;   
}
.content-detail-product .container .row .col-3 img{
    border: 2px solid #ccc;
}
.tit-content-dt-product h4{
    color: #13498d;
    font-weight: 350;
}
.content-detail-product .price-dt-prduct{
    color: #D81517;
    line-height: 2.3rem;
}
.des-add-to-cart{
    background-color: #f1f1f1;
    margin-top: 10px;
    padding: 10px 0;
}
.des-add-to-cart li{
    font-weight: 500;
}
.des-add-to-cart h5{
    text-align: center;
    color: #13498d;
}
.tit-category.tit-product{
    text-transform: none !important;
}
.main-ds-content-product h2.tit-category,tit-product{
    color: #13498d;
    border-color: #13498d;
    text-transform: none !important;
}
.main-ds-content-product .col-md-5.col-12, h3.tit-category.tit-product{
    color: #13498d;
}
.main-ds-content-product .table td, .main-ds-content-product  .table th{
    border: 1px solid #dee2e6;
    padding: 0.75rem 0.35rem;
    letter-spacing: -1px;
}
.main-ds-content-product .table h3{
    font-size: 1.05rem;
    color: #13498d;
    margin: 0;
    font-weight: 380;
}
.car-use .bg-primary{
    background-color: #337ab7 !important;
}
.car-use .bg-primary th {
    color: #f1f1f1;
    letter-spacing: normal;
}
.car-use tr td{
    letter-spacing: normal !important;
}
.car-use tr td h6{
    color: #598b17;
}
/*Huong dan thanh toan*/
.inner-wrapper.footer-info-adm {
	border: 1px solid #d7d7d7;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	margin: 0 15px 20px 15px;
	padding:8px;
	background: #fff;
	color: black;
	float: left;
}
.dv-content-ft, .payment-img, .review-img{
	float:left;
}
.ft-info-left{
	border-right: 1px solid #d7d7d7;
}
.dv-content-ft h4 {
	text-align: center;
	border-bottom: 1px solid #d7d7d7;
	padding-bottom: 10px;
}
.bank-logo{
	border-top: 1px solid #d7d7d7;
}
.dv-content-ft {	
	padding: 0 15px;
}
.payment-item, .review-item {
	padding: 5px 0;
	border-bottom: 1px dotted #d7d7d7;
}
.payment-item:last-child, .review-item:last-child{
	border-bottom: none;
}
.payment-item p, .payment-item h6 {
	margin:0;
}
.payment-img, .review-img {
    float: left;	
    width: 80px;
	text-align: center;
}
.bank-item img {
	margin: 5px 10px;
	width: 60px;
	border: 1px solid #EAEAEA;
}
.adm-title {
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	font-style: italic;
	margin: 5px 0;
}
.content-wp h6{
	font-weight: bold;
	font-size: 13px;
}
@media (max-width: 768px) {
    .ft-info-left {
        border-right: none;
    }
}

.max-width-140px {
    max-width: 140px;
}
/*End Huong dan thanh toan*/
